:root {
    --main-color: #0179FE;
    --secondary-color: #15002e;
    --background-color: #f4f7ff;
    --font-heading: "Sen", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #f4f7ff);
    font-family: "Poppins", sans-serif!important;
    margin: 0!important;
}

.login-container {
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 0!important;
}

.form-box {
    margin-left: 0!important;
    margin-right: 0!important;
}

.form-box h1 {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
}

.input-box {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.input-box label {
    font-size: 1rem;
    font-weight: 500;
}

.input-box input {
    width: 100%;
    padding: 14px 10px 14px 36px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    background: #eef2fd;
}

.input-box i {
    position: absolute;
    top: 67%;
    transform: translateY(-50%);
    left: 14px;
    color: #333;
}

.forgot-link {
    margin-top: 5px;
}

.forgot-link a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    margin: 5px 0;
}

.button:hover {
    opacity: 50%;
}

.form-box .other {
    font-size: 1rem;
    margin: 5px;
}

.welcome {
    background-color: var(--main-color);
    border-radius: 30px 100px 100px 30px;
    color: #fff;
}

.sec-button {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 10px;
}

.sec-button:hover {
    background: #fff;
    color: var(--main-color);
}
