.courses .filter {
    font-size: 3rem;
    font-weight: 700;
}

.courses .button-reset {
    line-height: 28px;
    width: 30%;
    font-size: 1.2rem;
    background: var(--main-color);
}

.courses .filter-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.67;
    color: #171100;
}

.courses .form-check {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 6px!important;
}


.courses .course-list {
    margin-top: 40px;
}
.courses .course-item {
    padding: 0;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}
.courses .course-item:hover {
    border: none;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.courses .course-item .thumb {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}
.courses .course-list .info {
    flex: 1;
    padding: 16px 22px 22px;
    display: flex;
    flex-direction: column;
}
.courses .course-list .head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 8px;
}
.courses .course-item .head .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.courses .course-item .head .rating {
    display: flex;
    align-items: center;
    gap: 2px;
}
.courses .course-item .head .rating .value {
    color: #000000;
    font-size: 1.6rem;
    line-height: 1.75;
}
.courses .course-item .head .rating .star {
    width: 18px;
    height: 18px;
}
.courses .course-item .desc {
    flex: 1;
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.courses .course-list .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.courses .course-list .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.courses .course-list .foot .button {
    width: 118px;
    height: 50px;
    border: none;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    background: var(--main-color);
}
.courses .dropdown-btn {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    color: black;
    padding: 5px 15px;
    border-radius: 10px;
}

.courses .dropdown-btn:hover {
    background-color: var(--main-color);
}

.courses .dropdown-menu {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
}

.courses .dropdown-item {
    padding: 5px 15px;
}

.courses .dropdown-item:hover {
    background-color: var(--main-color);
    color: white;
}

.courses .dropdown-item.active {
    background-color: var(--main-color);
    color: white;
}

.courses .input-group {
    position: relative;
}

.courses .input-group .form-control {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    padding: 5px 15px;
    border-radius: 30px!important;
    border: 1px solid #6c757d;
}

.courses .input-group .input-group-text {
    font-size: 1.2rem;
    padding: 5px;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%!important;
    background-color: transparent;
}
